<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Automatas II</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<style>
    .nav-item{
        margin: 0 0.3em;
    }
</style>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div style="margin-left: 1em" class="nav-item active">
            <a href="/" class="nav-link nav-item active navbar-brand">Automatas II</a>
        </div>
        <div class="nav-item active">
            <a href="/" class="nav-link nav-item active navbar-brand">Analizador semántico</a>
        </div>
        <div class="nav-item active">
            <a href="/analisis-sintactico.html" class="nav-link nav-item active navbar-brand">Analizador sintáctico</a>
        </div>
        <div class="nav-item active">
            <a href="/analisis-lexico.html" class="nav-link nav-item active navbar-brand">Analizador Léxico</a>
        </div>
    </nav>
</div>

<div class="container">
    <h1>Opcion 2 Content</h1>
</div>

</body>
</html>

